* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/* ***********************GENERAL PAGE STYLES******************************** */

  /*

	font-family: 'Reem Kufi', sans-serif
	font-family:'Josefin Sans', sans-serif

  */

/* STICKY FOOTER */

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}
/* STICKY FOOTER */


body {
  background: #0D4260;
	font-family: 'Josefin Sans', sans-serif;
	color: #D8D8D8;
	transition: opacity 1s ease-out;
	opacity: 1;

}
body.fadeOut{
	opacity:0;
}


h1 {
  font-family: 'Reem Kufi', sans-serif;
  color: white;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Reem Kufi', sans-serif;
  color: white;
}

main {
	text-align: center;
}

.desktop-menu {
	display: none;
}



/* ***********************HAMBURGER MENU STYLES******************************** */
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/* ***********************HAMBURGER MENU STYLES******************************** */


.home-logo {
	display: block;
	width: 80%;
	padding: 6% 0 0 0;
	margin: 0 auto;
	max-width: 775px;
}

h1 {
 text-align: center;
 padding: 0 11% 7% 11%;
}

footer {
	padding: 2%;
  background-color: #F58B8B;
  text-align: center;
}


.about {
	padding: 3% 0 0 0;
}

section {
	padding: 3%;
}

section > p {
	padding: 3%;
}

input,
textarea
 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background: #D8D8D8;
  border: 1px solid #000000;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}



input[type=submit] {
  background: #F58B8B;
  font-weight: bold;
}

img {
  display: inline;
  min-width: 200px;
}

.my-info {
  padding-left: 3%;
  min-width: 39%;
}

.my-info > p > a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

div.gallery img {
  width: 300px;
  height: 200px;
  padding-left: 10px;
}

.gallery {
  text-align: center;
}



/* *********************** START MIN WIDTH 320 MEDIA QUERY ******************************** */

@media (min-width: 320px) {

	h1.intro {
		padding-top: 50%;
	}

	.about {
		padding: 3% 2%;
	}

	.about h2 {
		text-align: center;
		padding-bottom: 1%;
	}

	aside {
		padding: 2%;
	}

	figcaption {
		text-align: center;
	}

	div.container {
		text-align: left;
	}


}

/* *********************** END MIN WIDTH 320 MEDIA QUERY ******************************** */


/* *********************** START MIN WIDTH 600 MEDIA QUERY ******************************** */

@media (min-width: 600px) {
	.menu, .hamburger, .cross {
		display: none;
	}


	.desktop-menu {
		display: block;
		max-width: 100%;
		background: #e5e5e5;
		padding: 2%;
	}

	.desktop-menu ul {
		display: flex;
		justify-content: space-evenly;
}

	.desktop-menu ul li a {
		color: black;
		text-decoration: none;
		font-size: 22px;
	}

	.desktop-menu ul li a:hover {
		color: #f58b8b;
	}

	.desktop-menu > ul > li {
		display: inline-block;
		vertical-align: top;
		width: 24%;
		text-align: center;
		text-decoration: none;
	}

	h1 {
		font-size: 30px;
	}

	h1.intro {
		font-size: 40px;
		padding-top: 19%;
	}

	h2 {
		font-size: 25px;
	}

	.about h2
	{
		text-align: center;
		padding-bottom: 1%;
	}

	.about p {
		font-size: 18px;
	}

	section > p {
		padding: 2% 0;
	}


	.about {
		padding: 3% 2%;
	}

	aside {
    text-align: center;
    padding-top: 5%;
}
}

/* *********************** END MIN WIDTH 600 MEDIA QUERY ******************************** */

/* *********************** START MIN WIDTH 850 MEDIA QUERY ******************************** */
@media (min-width: 850px) {

	h1 {
		font-size: 35px;
		padding-top: 2%;
	}

	h1.intro {
		padding-top: 8%;
	}


	h2 {
		font-size: 30px;
	}


		.desktop-menu ul li a {
			color: black;
			text-decoration: none;
			font-size: 30px;
		}

	section.about {
		float: right;
		width: 57%;
	}

	.about h2
	{
		text-align: left;
	}

	figure {
		padding-left: 3%;
	}

	figcaption {
		text-align: left;
	}

	section > p {
		font-size: 20px;
	}

	.contact-page {
		text-align: left;
		display: flex;
		justify-content: center;
	}

}

/* *********************** END MIN WIDTH 850 MEDIA QUERY ******************************** */

/* *********************** START MIN WIDTH 1030 MEDIA QUERY ******************************** */

@media (min-width: 1030px) {

	.site-content {
		max-width: 1050px;
		margin: 0 auto;
	}

	h1 {
		font-size: 45px;
	}

	h1.intro {
		font-size: 48px;
		padding-top: 11%;
	}


	h2 {
		font-size: 37px;
	}


		.desktop-menu ul li a {
			font-size: 35px;
		}

	section > p {
		font-size: 25px;
	}

	section.about {
		float: right;
		width: 57%;
	}


	section.images {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 8%;
    justify-content: center;
	}


	.my-info p {
		padding-top: 3%;
	}

	figcaption {
		text-align: left;
		padding-left: 4%;
	}

}





/* *********************** END MIN WIDTH 1030 MEDIA QUERY ******************************** */
